<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thread-Chat</title>
    <link rel="stylesheet" href="d:\MCA\Web Project\css\chat.css">
</head>
<body>
     <h1  class="h-primary">Threads </h1>
     <h2  class="h-primary"> Chat for free</h2>
     <div class="user">
        <label for="user"> Username: </label>
        <input type="text" name="username" id="name"   placeholder="Enter the Username">

        </div>


     <div class="user">
        <label for="password"> Password: </label>
        <input type="password" name="pass" id="pass"   placeholder="Enter the Password">

        </div>

        <div class="chk">
            <input type="checkbox" id="chk" name="checkbox" value="checked" >
            <label for="chk"> I'm not a robot </label>
            
     
             </div>
        
            
            
        
     <div >
       
        <button  class="button"> Register</button>

        </div>

           <div class="login">
            <a href="">Already registered <br></a>
            <a href="">login here</a>
           </div>
    
</body>
</html>